.objecttable td {
  padding: 8px;
  background-color: #060CE9;
}
th{
  width: 300px;
  background-color: #060CE9;
}

h1{
  text-align: center;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 100px;
}

label{
  color:white;
  font-size: 80px;
}

select{
  font-size: 50px;
}

button{
  font-size: 50px;
  background-color:#060CE9;
  color: white;
}


tr{
  text-align:center;
  height: 100px;
  background-color: #060CE9;
  color: white;
}

table {
  font-size: 40px;
}

.objecttable {
  padding: 100px;
  padding-left: 15%;
  stroke: black;
  stroke-width: 5px;
}
body {
  background-color: #058BF5;
}
/* Tooltip container */
.tooltip {
  /* position: relative;
  display: inline-block; */
  /* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptex {

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

td:hover span{
  display:none;
}
#two1:hover:before{
  font-size: 12px;
  content:"Jeopardy is a trivia game played in 3 rounds: Jeopardy!, Double Jeopardy! and Final Jeopardy!";
  /* line-height:0.4px !important; */
}
#four1:hover:before{
  font-size: 12px;
  content:"The 3 contestants choose clues from the board, ranging from easier to harder based on their value";
}
#six1:hover:before{
  font-size: 12px;
  content:"In the Jeopardy! and Double Jeopardy!, clues range from 200-1000 and 400-2000, respectively";
}
#eight1:hover:before{
  font-size: 12px;
  content:"Based on whether they answer the question correctly, contestants will have the point value of the clue added or deducted from their score";
}
#ten1:hover:before{
  font-size: 12px;
  content:"The contestant with the highest score at the end of the three rounds takes home their entire winnings and comes back the next day to play again. 2nd and 3rd place receive $2000 and $1000, respectively.";
}
#two2:hover:before{
  font-size: 12px;
  content:"Alex Trebek was the first host of Jeopardy! from the premiere in 1984 until his passing in 2020";
}
#four2:hover:before{
  font-size: 12px;
  content:"Jeopardy! has added an in memoriam portion to their credits in honor of Trebek";
}
#six2:hover:before{
  font-size: 12px;
  content:"Ken Jennings was the first interim host, chosen because of his fame of having the highest winning streak of any contestant on the show (74 games!)";
}
#eight2:hover:before{
  font-size: 12px;
  content:"Other guest hosts include:  Katie Couric, Bill Whitaker, Savannah Guthrie, Sanjay Gupta, Anderson Cooper, Green Bay Packers quarterback Aaron Rodgers, and talk show host Dr. Oz";
}
#ten2:hover:before{
  font-size: 12px;
  content:"A new, permanent host will be announced Summer 2021";
}
#two3:hover:before{
  font-size: 12px;
  content:"Jeopardy has a special game series called Celebrity Jeopardy, which is a weeklong set of games of three different celebrities each night";
}
#four3:hover:before{
  font-size: 12px;
  content:"The winnings from Celebrity Jeopardy are donated to charity, which makes gameplay different by always allowing the contestants to have at least finish with $1000";
}
#six3:hover:before{
  font-size: 12px;
  content: "The famous late-night sketch comedy Saturday Night Live has played with Celebrity Jeopardy to usually feature Will Ferrel as host and different celebrities, typically one being Sean Connery";
}
#eight3:hover:before{
  font-size: 12px;
  content:"Another type of game series is the Power Players week in which politicians and famous journalists compete against each other in a weeklong series";
}
#ten3:hover:before{
  font-size: 12px;
  content:"IBM's Watson was on the show in 2011 for the very first human-versus-machine competition. Watson studied the same data source I am using to beat previous champions Ken Jennings and Brad Rutter.";
}
#two4:hover:before{
  font-size: 12px;
  content:"This style of game is not the first version of Jeopardy, there were three versions of Jeopardy prior to this version";
}
#four4:hover:before{
  font-size: 12px;
  content:"Although Jeopardy is an American television show, there are a little over 35 international versions of the show, including in China, Germany, Uzbekistan, and Mexico";
}
#six4:hover:before{
  font-size: 12px;
  content:"Jeopardy has won numerous awards over the years including: 39 Daytime Emmys, a Peabody award (for encouraging, celebrating, and rewarding knowledge)";
}
#eight4:hover:before{
  font-size: 12px;
  content:"In 1985, Jeopardy began having annual special events such as the Tournament of Champions, Teen Tournament, College Championship, Teachers Tournament, Celebrity Jeopardy, and Kids Week";
}
#ten4:hover:before{
  font-size: 12px;
  content:"I grew up watching this game with my mom and my grandma, working on getting better a trivia so I could answer the questions along with them.";
}
#two5:hover:before{
  font-size: 12px;
  content:"The Daily Double is a special type of question that allows a contestant to wager an amount from $5 to their entire score, before hearing the clue";
}
#four5:hover:before{
  font-size: 12px;
  content:"Daily Doubles are hidden behind regular clues requiring contestants to guess where they are. In the Jeopardy! round there is one and in the Double Jeopardy! round there are two to be found";
}
#six5:hover:before{
  font-size: 12px;
  content:"Only the contestant who chose the Daily Double is able to answer it and they must provide an answer";
}
#eight5:hover:before{
  font-size: 12px;
  content:"Daily Doubles can also be presented in the form of 'Audio' or 'Video Daily Doubles'";
}
#ten5:hover:before{
  font-size: 12px;
  content:"Using the wager of the Daily Double has been a key strategy for the champions of Jeopardy!";
}
#two6:hover:before{
  font-size: 12px;
  content:"There are many different strategies for Jeopardy!";
}
#four6:hover:before{
  font-size: 12px;
  content:"One strategy, called the 'Forrest Bounce Method' involves the contestant breaking the natural order of the game by bouncing around the board in order to disorient their fellow contestants";
}
#six6:hover:before{
  font-size: 12px;
  content:"Another strategy is to answer the clues with the highest point values first so a contestant can have more to wager if they choose a Daily Double.";
}
#eight6:hover:before{
  font-size: 12px;
  content:"James Holzhauer has the top ten single-day earnings because of his use of these two strategies as well as aggressive Daily Double wagering.";
}
#ten6:hover:before{
  font-size: 12px;
  content:"Former host Alex Trebek and his staffers were annoyed by the 'Forrest Bounce Method' as it often leads to more error";
}

button:hover{
  cursor:pointer;
}
