.objecttable td {
  padding: 8px;
  background-color: #060CE9;
}
th{
  width: 300px;
  background-color: #060CE9;
}

label{
  color:white;
  font-size: 80px;
}

select, button{
  font-size: 50px;
}


tr{
  text-align:center;
  height: 100px;
  background-color: #060CE9;
  color: white;
}

table {
  font-size: 40px;
}

.objecttable {
  padding: 100px;
  padding-left: 15%;
  stroke: black;
  stroke-width: 5px;
}
body {
  background-color: #058BF5;
}
/* Tooltip container */
.tooltip {
  /* position: relative;
  display: inline-block; */
  /* border-bottom: 1px dotted black;  If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptex {

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

td:hover span{
  display:none;
}
#two1:hover:before{
  font-size: 12px;
  content:"Jeopardy is a trivia game played in 3 rounds: Jeopardy!, Double Jeopardy! and Final Jeopardy!";
  /* line-height:0.4px !important; */
}
#four1:hover:before{
  font-size: 12px;
  content:"The 3 contestants choose clues from the board, ranging from easier to harder based on their value";
}
#six1:hover:before{
  font-size: 12px;
  content:"In the Jeopardy! and Double Jeopardy!, clues range from 200-1000 and 400-2000, respectively";
}
#eight1:hover:before{
  font-size: 12px;
  content:"Based on whether they answer the question correctly, contestants will have the point value of the clue added or deducted from their score";
}
#ten1:hover:before{
  font-size: 12px;
  content:"The contestant with the highest score at the end of the three rounds takes home their entire winnings and comes back the next day to play again. <br> 2nd and 3rd place receive $2000 and $1000, respectively.";
}
#two2:hover:before{
  font-size: 12px;
  content:"Alex Trebek was the first host of Jeopardy! from the premiere in 1984 until his passing in 2020";
}
#four2:hover:before{
  font-size: 12px;
  content:"Jeopardy! has added an in memoriam portion to their credits in honor of Trebek";
}
#six2:hover:before{
  font-size: 12px;
  content:"Ken Jennings was the first interim host, chosen because of his fame of having the highest winning streak of any contestant on the show (74 games!)";
}
#eight2:hover:before{
  font-size: 12px;
  content:"Other guest hosts include:  Katie Couric, Bill Whitaker, Savannah Guthrie, Sanjay Gupta, Anderson Cooper, Green Bay Packers quarterback Aaron Rodgers, and talk show host Dr. Oz";
}
#ten2:hover:before{
  font-size: 12px;
  content:"A new, permanent host will be announced Summer 2021";
}
#two3:hover:before{
  font-size: 12px;
  content:;
}
#four3:hover:before{
  font-size: 12px;
  content:;
}
#six3:hover:before{
  font-size: 12px;
  content:;
}
#eight3:hover:before{
  font-size: 12px;
  content:;
}
#ten3:hover:before{
  font-size: 12px;
  content:;
}
#two4:hover:before{
  font-size: 12px;
  content:;
}
#four4:hover:before{
  font-size: 12px;
  content:;
}
#six4:hover:before{
  font-size: 12px;
  content:;
}
#eight4:hover:before{
  font-size: 12px;
  content:;
}
#ten4:hover:before{
  font-size: 12px;
  content:;
}
#two5:hover:before{
  font-size: 12px;
  content:"The Daily Double is a special type of question that allows a contestant to wager an amount from $5 to their entire score, before hearing the clue";
}
#four5:hover:before{
  font-size: 12px;
  content:"Daily Doubles are hidden behind regular clues requiring contestants to guess where they are. In the Jeopardy! round there is one and in the Double Jeopardy! round there are two to be found";
}
#six5:hover:before{
  font-size: 12px;
  content:"Only the contestant who chose the Daily Double is able to answer it and they must provide an answer";
}
#eight5:hover:before{
  font-size: 12px;
  content:;
}
#ten5:hover:before{
  font-size: 12px;
  content:"Using the wager of the Daily Double has been a key strategy for the champions of Jeopardy!";
}
#two6:hover:before{
  font-size: 12px;
  content:;
}
#four6:hover:before{
  font-size: 12px;
  content:;
}
#six6:hover:before{
  font-size: 12px;
  content:;
}
#eight6:hover:before{
  font-size: 12px;
  content:;
}
#ten6:hover:before{
  font-size: 12px;
  content:;
}

button:hover{
  cursor:pointer;
}
