button{
  width:300px;
  height: 50px;
  color:white;
  font-weight: bold;
}
#usa{
  background-color: blue;
}
#usa:hover{
  background-color: green;
}
#china{
  background-color: red;
}
#china:hover{
  background-color: green;
}
button:hover{
  cursor: pointer;
}
